.register-form {
  position: absolute;
  width: 30%;
  height: 60%;
  top: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;

  /* Progress bar */
  #bars {
    margin: 8px 0;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 6px;
    width: 70%;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.06);
  }

  #bars div {
    height: 6px;
    border-radius: 3px;
    transition: 0.4s;
  }

  .słabe div {
    background: #d0424f;
    width: 33.33%;
  }

  .średnie div {
    background: #e58448;
    width: 66.66%;
  }

  .mocne div {
    background: #1eb965;
    width: 100%;
  }

  .strength {
    text-align: left;
    height: 30px;
    text-transform: capitalize;
    color: #000;
  }

  .register-form-div-element {
    padding: 10px 0px;
    position: relative;
    display: flex;
    flex-wrap: wrap;

    input {
      width: 100%;
      height: 50px;
      background: #e0dede;
      justify-content: center;
      display: flex;
      margin: 10px auto;
      padding: 10px;
      border: none;
      outline: none;
      border-radius: 5px;
      color: #000;
    }

    .error-input {
      border: 1px solid red;
    }

    .show-password-button {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      right: 0;
      height: 40px;
      background: transparent;
      outline: none;
      border: none;
      cursor: pointer;

      img {
        height: 100%;
      }
    }
  }

  .register-button {
    padding: 15px;
    border-radius: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #000;
  }

  .register-form-links-to-other-page {
    padding: 15px;
    color: #000;
    a {
      color: #000;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .register-form {
    width: 100%;
    min-height: 60%;
  }
}
