<div class="background-div"></div>
<form
  class="register-form"
  [formGroup]="registerForm"
  (ngSubmit)="onRegister()"
>
  <div class="register-form-div-element">
    <input
      type="email"
      placeholder="Email: przyklad@poczta.pl"
      [formControl]="controls.email"
      (input)="(controls.email.markAsTouched)"
      [ngClass]="
        controls.email.invalid && controls.email.touched ? 'error-input' : ''
      "
    />
    <app-error>{{ alertMsg }}</app-error>
  </div>
  <div class="register-form-div-element">
    <input
      type="text"
      placeholder="Login: nazwauzywkonika"
      [formControl]="controls.username"
      (input)="(controls.username.markAsTouched)"
      [ngClass]="
        controls.username.invalid && controls.username.touched
          ? 'error-input'
          : ''
      "
    />
    <app-error>{{ alertMsg }}</app-error>
  </div>
  <div class="register-form-div-element">
    <input
      type="password"
      placeholder="Hasło"
      [formControl]="controls.password"
      (input)="(controls.password.markAsTouched)"
      [ngClass]="
        controls.password.invalid && controls.password.touched
          ? 'error-input'
          : ''
      "
      #passwordInput
    />
    <button
      (click)="changeVisiblePassword($event, 0)"
      class="show-password-button"
    >
      <img
        src="../../../../../assets/images/show-password.png"
        alt="Przycisk do pokazywania hasła"
      />
    </button>
    <app-error>{{ alertMsg }}</app-error>
  </div>
  <div class="register-form-div-element">
    <input
      type="password"
      placeholder="Powtórz hasło"
      [formControl]="controls.repeatedPassword"
      (input)="(controls.repeatedPassword.markAsTouched)"
      [ngClass]="
        controls.repeatedPassword.invalid && controls.repeatedPassword.touched
          ? 'error-input'
          : ''
      "
      #passwordInput
    />
    <button
      (click)="changeVisiblePassword($event, 1)"
      class="show-password-button"
    >
      <img
        src="../../../../../assets/images/show-password.png"
        alt="Przycisk do pokazywania hasła"
      />
    </button>
    <app-error>{{ alertMsg }}</app-error>
  </div>
  <div class="register-form-div-element">
    <button class="register-button">Zarejestruj się</button>
  </div>
</form>
