<div class="background-div"></div>
<form
  class="register-form"
  [formGroup]="registerForm"
  (ngSubmit)="onRegister()"
>
  <div class="register-form-div-element">
    <input
      type="email"
      placeholder="Email: przyklad@poczta.pl"
      [formControl]="controls.email"
    />
  </div>
  <div class="register-form-div-element">
    <input
      type="password"
      placeholder="Hasło"
      [formControl]="controls.password"
    />
  </div>
  <div class="register-form-div-element">
    <input
      type="password"
      placeholder="Powtórz hasło"
      [formControl]="controls.repeatedPassword"
    />
  </div>
  <div class="register-form-div-element">
    <button class="register-button">Zarejestruj się</button>
  </div>
</form>
