.main-container {
  position: relative;
  margin-top: -350px;
  margin-bottom: -100px;
  width: 100%;
  min-height: 600px;

  h1 {
    width: 80%;
    text-align: center;
    margin-left: 20%;
  }

  .navigation-settings-menu {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-height: 1000px;
    float: left;

    .show-more-menu-button-in-nav {
      display: none;
    }

    .menu-element {
      border: 1px solid black;
      text-align: center;
      cursor: pointer;
      transition: background 0.3s linear;

      a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        padding: 10px;
        box-sizing: border-box;
      }
    }

    .menu-element:hover {
      background-color: rgba($color: #000000, $alpha: 0.5);
    }

    .active-element {
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.5);
    }
  }

  .settings-display {
    display: flex;
    width: 80%;
    padding: 35px;
    min-height: 700px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .navigation-settings-menu {
    width: 100% !important;
    height: 40px;
    overflow-y: hidden;
    min-height: auto !important;

    .show-more-menu-button-in-nav {
      height: 40px;
      border: 1px solid black;
      text-align: center;
      cursor: pointer;
      transition: background 0.3s linear;
      display: block !important;

      p {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        padding: 10px;
        box-sizing: border-box;
      }
    }
  }

  .show-more-menu {
    height: auto !important;
  }

  .button-menu-show {
    background-color: rgba($color: #303030, $alpha: 0.5);
  }
}
