<div class="background-div"></div>

<div class="main-container">
  <h1>{{ "settings" | translate }}</h1>
  <div
    class="navigation-settings-menu"
    [ngClass]="menuExtend ? 'show-more-menu' : ''"
  >
    <ul>
      <li
        class="show-more-menu-button-in-nav"
        (click)="changeMenuVisible()"
        [ngClass]="menuExtend ? 'button-menu-show' : ''"
      >
        <p>
          {{
            menuExtend ? ("hide-menu" | translate) : ("expand-menu" | translate)
          }}
        </p>
      </li>
      <li class="menu-element" routerLinkActive="active-element">
        <a routerLink="ustawienia-uzytkownika">{{
          "user-settings" | translate
        }}</a>
      </li>
      <li class="menu-element" routerLinkActive="active-element">
        <a routerLink="edycja-postow">{{ "edit-posts" | translate }}</a>
      </li>
      <li class="menu-element" routerLinkActive="active-element">
        <a routerLink="dodaj-post">{{ "add-post" | translate }}</a>
      </li>
    </ul>
  </div>
  <div class="settings-display">
    <router-outlet></router-outlet>
  </div>
</div>
