<div class="background-div"></div>

<div class="main-container">
  <h1>Ustawienia</h1>
  <div class="navigation-settings-menu">
    <ul>
      <li class="menu-element" routerLinkActive="active-element">
        <a routerLink="ustawienia-uzytkownika">Ustawienia użytkownika</a>
      </li>
      <li class="menu-element" routerLinkActive="active-element">
        <a routerLink="edycja-postow">Edycja postów</a>
      </li>
    </ul>
  </div>
  <div class="settings-display">
    <router-outlet></router-outlet>
  </div>
</div>
