.main-container {
  width: 100%;
  min-height: 5%;
  flex-direction: row;

  .message {
    max-width: 50%;
    background-color: rebeccapurple;
  }

  .image-container {
    width: 10%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
