.main-container {
  width: 100%;
  min-height: 5%;
  display: flex;
  gap: 20px;

  .message {
    max-width: 50%;
    color: #000;
  }

  .image-container {
    width: 5%;
    height: 5%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
