<div class="background-div"></div>
<form
  class="recover-password-form"
  [formGroup]="recoverPasswordForm"
  (ngSubmit)="onRecoverPassword()"
>
  <div class="recover-password-form-div-element">
    <input
      type="email"
      placeholder="Email: przyklad@poczta.pl"
      [formControl]="controls.email"
      (input)="(controls.email.markAsTouched)"
      [ngClass]="
        controls.email.invalid && controls.email.touched ? 'error-input' : ''
      "
    />
    <app-error>{{ alertMsg }}</app-error>
  </div>
  <div class="recover-password-form-div-element">
    <input
      #passwordInput
      type="password"
      placeholder="Hasło"
      [formControl]="controls.password"
      (input)="(controls.password.markAsTouched)"
      [ngClass]="
        controls.password.invalid && controls.password.touched
          ? 'error-input'
          : ''
      "
    />
    <button (click)="changeVisiblePassword()" class="show-password-button">
      <img
        src="../../../../../assets/images/show-password.png"
        alt="Przycisk do pokazywania hasła"
      />
    </button>
    <app-error>{{ alertMsg }}</app-error>
  </div>
  <div class="recover-password-form-div-element">
    <input
      #passwordInput
      type="password"
      placeholder="Powtórz nowe hasło"
      [formControl]="controls.repeatedPassword"
      (input)="(controls.repeatedPassword.markAsTouched)"
      [ngClass]="
        controls.repeatedPassword.invalid && controls.repeatedPassword.touched
          ? 'error-input'
          : ''
      "
    />
    <button (click)="changeVisiblePassword()" class="show-password-button">
      <img
        src="../../../../../assets/images/show-password.png"
        alt="Przycisk do pokazywania hasła"
      />
    </button>
    <app-error>{{ alertMsg }}</app-error>
  </div>
  <div class="recover-password-form-div-element">
    <button class="recover-password-button">Zmień hasło</button>
  </div>
</form>
