<div class="background-div"></div>
<form class="recover-password-form">
  <div class="recover-password-form-div-element">
    <input type="email" placeholder="Email: przyklad@poczta.pl" />
    <app-error>{{ alertMsg }}</app-error>
  </div>
  <div class="recover-password-form-div-element">
    <input #passwordInput type="password" placeholder="Hasło" />
    <button (click)="changeVisiblePassword()" class="show-password-button">
      <img
        src="../../../../../assets/images/show-password.png"
        alt="Przycisk do pokazywania hasła"
      />
    </button>
    <app-error>{{ alertMsg }}</app-error>
  </div>
  <div class="recover-password-form-div-element">
    <input #passwordInput type="password" placeholder="Powtórz nowe hasło" />
    <button (click)="changeVisiblePassword()" class="show-password-button">
      <img
        src="../../../../../assets/images/show-password.png"
        alt="Przycisk do pokazywania hasła"
      />
    </button>
    <app-error>{{ alertMsg }}</app-error>
  </div>
  <div class="recover-password-form-div-element">
    <button class="recover-password-button">Zmień hasło</button>
  </div>
</form>
