<div class="background-div"></div>

<form
  class="add-post-form"
  [formGroup]="addPostForm"
  (ngSubmit)="onAddNewPost()"
>
  <div class="add-post-element">
    <input
      type="text"
      [formControl]="controls.author"
      value="Autor"
      [readOnly]="true"
    />
  </div>
  <div class="add-post-element">
    <input type="text" [formControl]="controls.title" placeholder="Tytuł" />
  </div>
  <div class="add-post-element">
    <input type="text" [formControl]="controls.content" placeholder="Opis" />
  </div>
  <div class="add-post-element">
    <input type="file" [formControl]="controls.img" />
  </div>
  <button>Dodaj post</button>
</form>
