input[type="checkbox"] {
  display: none;
}

.nav {
  display: flex;
  height: 100%;

  .navigation-list {
    border-radius: 0px 0px 25px 25px;
    margin-top: 20px;
    justify-content: right;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 0;
    margin-bottom: 0;

    .menu-option {
      list-style-type: none;
      padding-left: 10px;
      padding-right: 10px;
      height: 40px;
      line-height: 40px;
      margin-left: 15px;

      a {
        display: block;
        height: 40px;
        font-weight: 300;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 20px;
        text-transform: capitalize;
        border: 1px solid transparent;
        letter-spacing: 0.25px;
        line-height: 40px;
        text-decoration: none !important;
        transition: all 0.4s ease 0s;
      }

      a:hover {
        border: 1px solid white;
        background: rgba($color: #fff, $alpha: 0.1);
      }

      .active {
        border: 1px solid white;
        background: rgba($color: #fff, $alpha: 0.1);
      }
    }

    .login-button {
      a {
        display: block;
        height: 40px;
        background: #ee626b;
        font-weight: 300;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 20px;
        text-transform: capitalize;
        border: 1px solid transparent;
        letter-spacing: 0.25px;
        line-height: 40px;
        text-decoration: none !important;
        transition: all 0.4s ease 0s;
      }

      a:hover {
        border: 1px solid #ee626b;
        background: rgba($color: #ee626b, $alpha: 0.1);
      }

      .activeLogin {
        border: 1px solid #ee626b;
        background: rgba($color: #ee626b, $alpha: 0.1);
      }
    }
  }

  a:first-child {
    transition: all 0.3s ease 0s;
    display: inline-block;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .nav {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  .navigation-list {
    position: absolute;
    width: 90%;
    height: 400px;
    box-shadow: 0 0 10px #4975af;
    margin: -50px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    backdrop-filter: blur(10px);
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    display: flex;
    flex-direction: column;
  }

  input[type="checkbox"] {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 1000;
  }

  span {
    display: block;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    margin-left: 10%;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1000;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  span:first-child {
    transform-origin: 0% 0%;
  }

  span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  input[type="checkbox"]:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383f;
  }

  input[type="checkbox"]:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  input[type="checkbox"]:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  .menu-option {
    transition-delay: 2s;
  }

  input[type="checkbox"]:checked + span + span + span + .nav .navigation-list {
    transform: none;
  }

  a {
    color: #000;
  }
}
