<input type="checkbox" />
<span></span>
<span></span>
<span></span>
<div class="nav">
  <a routerLink="/"
    ><img src="../../../../../assets/images/logo.png" alt="LOGO"
  /></a>

  <ul class="navigation-list">
    <li class="menu-option">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Strona główna</a
      >
    </li>
    <li class="menu-option">
      <a routerLink="posty" routerLinkActive="active">Posty</a>
    </li>
    <li class="menu-option">
      <a routerLink="ustawienia" routerLinkActive="active">Ustawienia</a>
    </li>
    <li class="menu-option">
      <a routerLink="admin" routerLinkActive="active"
        >Ustawienia Administratora</a
      >
    </li>

    <ng-container *ngIf="userLoggedIn; else notUser">
      <li class="menu-option login-button">
        <button (click)="logout()">Wyloguj się</button>
      </li>
    </ng-container>

    <ng-template #notUser>
      <li class="menu-option login-button">
        <a routerLink="logowanie" routerLinkActive="activeLogin">Zaloguj się</a>
      </li>
    </ng-template>
  </ul>
</div>
