<input type="checkbox" />
<span></span>
<span></span>
<span></span>
<div class="nav">
  <a routerLink="/"
    ><img src="../../../../../assets/images/logo.png" alt="LOGO"
  /></a>

  <ul class="navigation-list">
    <li class="menu-option">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >{{ "main-page" | translate }}</a
      >
    </li>
    <li class="menu-option">
      <a routerLink="posty" routerLinkActive="active">{{
        "posts" | translate
      }}</a>
    </li>

    <ng-container *ngIf="userLoggedIn; else notUser">
      <li class="menu-option">
        <a routerLink="ustawienia" routerLinkActive="active">{{
          "settings" | translate
        }}</a>
      </li>
      <li class="menu-option">
        <a routerLink="wiadomosci" routerLinkActive="active">{{
          "messages" | translate
        }}</a>
      </li>
      <ng-container *ngIf="adminLoggedIn">
        <li class="menu-option">
          <a routerLink="admin" routerLinkActive="active">{{
            "admin-settings" | translate
          }}</a>
        </li>
      </ng-container>
      <li class="menu-option login-button">
        <button (click)="logout()">{{ "log-out" | translate }}</button>
      </li>
    </ng-container>

    <ng-template #notUser>
      <li class="menu-option login-button">
        <a routerLink="logowanie" routerLinkActive="activeLogin">{{
          "log-in" | translate
        }}</a>
      </li>
    </ng-template>
  </ul>
</div>
