<input type="checkbox" />
<span></span>
<span></span>
<span></span>
<div class="nav">
  <a routerLink="/"
    ><img src="../../../../../assets/images/logo.png" alt="LOGO"
  /></a>

  <ul class="navigation-list">
    <li class="menu-option active">
      <a routerLink="" routerLinkActive="active">Strona główna</a>
    </li>
    <li class="menu-option"><a routerLink="posts">Posty</a></li>
    <li class="menu-option"><a routerLink="settings">Ustawienia</a></li>
    <li class="menu-option login-button">
      <a routerLink="logowanie">Zaloguj się</a>
    </li>
  </ul>
</div>
