.post-card {
  height: 100%;
  width: 300px;
  margin-right: 50px;
  overflow: auto;
  border: 1px solid rgb(124, 124, 124);

  p {
    color: #000;
  }

  small {
    color: #000;
  }

  .show-more-button {
    background: transparent;
    width: auto;
    height: auto;
    outline: none;
    border: none;
    cursor: pointer;
    color: #000;
    text-decoration: underline;
  }

  .image-div {
    height: 60%;
    width: 100%;
  }

  .comments-like-div {
    display: flex;
    justify-content: space-between;
  }

  .buttons-section {
    border-top: 0.5px solid rgb(128, 127, 127);
    border-bottom: 0.5px solid rgb(128, 127, 127);

    button {
      width: 33.3%;
      padding: 5px 0px 5px 0px;
      color: #000;
      border: none;
      outline: none;
      background: transparent;
      transition: background 0.2s linear;
    }

    button:hover {
      cursor: pointer;
      background: rgb(194, 194, 194);
    }
  }
}
