.main-comments-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  p {
    color: #000;
    margin-bottom: 10px;
  }

  .comment-section {
    width: 80%;
  }

  .comment-send-section {
    width: 80%;
    height: 30px;

    input[type="text"] {
      width: 60%;
      height: 100%;
      border-radius: 4px;
      margin-right: 30px;
      color: #000;
    }

    button {
      height: 100%;
      background: transparent;
      outline: none;
      border: none;
      cursor: pointer;
      color: #000;
    }
  }
}
