<div class="main-comments-container">
  <div class="comment-section">
    <app-comment *ngFor="let comment of comments" [comment]="comment" />
  </div>
  <form
    class="comment-send-section"
    [formGroup]="addCommentForm"
    (ngSubmit)="onAddComment()"
    *ngIf="userLoggedIn; else noUserLogin"
  >
    <input
      type="text"
      placeholder="Napisz komentarz"
      [formControl]="controls.comment"
    />
    <button>Dodaj</button>
  </form>

  <ng-template #noUserLogin>
    <p>By dodać komentarz musisz być zalogowany</p>
  </ng-template>
</div>
