<div class="background-div"></div>

<div class="main-container">
  <div class="userdata">
    <div class="img-container">
      <img
        src="../../../../../assets/profiles-image/{{ userData?.image }}"
        alt=""
        class="user-profile-img"
      />
    </div>
    <div class="username-container">
      <strong>{{ "username" | translate }}: {{ userData?.username }}</strong>
      <strong>Email: {{ userData?.email }}</strong>
    </div>
    <!-- <button>Send message</button> -->
  </div>
  <div class="user-posts-container">
    <p>Posty użytkownika</p>
    <div class="user-posts">
      <app-post-on-user-profile
        *ngFor="let post of posts"
        [post]="post"
      ></app-post-on-user-profile>
    </div>
  </div>
</div>
