<div class="background-div"></div>

<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <div class="login-form-div-element">
    <input
      type="text"
      placeholder="{{ 'username' | translate }}"
      [formControl]="controls.username"
      (input)="controls.username.markAsTouched()"
      [ngClass]="
        controls.username.invalid && controls.username.touched
          ? 'error-input'
          : ''
      "
    />
    <app-error>{{ alertMsg }}</app-error>
  </div>
  <div class="login-form-div-element">
    <input
      #passwordInput
      type="password"
      placeholder="{{ 'password' | translate }}"
      [formControl]="controls.password"
      (input)="controls.password.markAsTouched()"
      [ngClass]="
        controls.password.invalid && controls.password.touched
          ? 'error-input'
          : ''
      "
    />
    <button
      (click)="changeVisiblePassword($event)"
      class="show-password-button"
    >
      <img
        src="../../../../../assets/images/show-password.png"
        alt="Przycisk do pokazywania hasła"
      />
    </button>
    <app-error>{{ alertMsg }}</app-error>
  </div>
  <div class="login-form-div-element">
    <button class="login-button">{{ "log-in" | translate }}</button>
  </div>
  <p class="login-form-links-to-other-page">
    {{ "forgot-your-password" | translate }}?
    <a routerLink="/odzyskaj-haslo">{{ "click-here" | translate }}</a>
  </p>
  <p class="login-form-links-to-other-page">
    {{ "dont-have-an-account" | translate }}?
    <a routerLink="/rejestracja">{{ "sign-up" | translate }}</a>
  </p>
</form>
