<div class="background-div"></div>

<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <div class="login-form-div-element">
    <input
      type="text"
      placeholder="Nazwa użytkownika"
      [formControl]="controls.username"
      (input)="(controls.username.markAsTouched)"
      [ngClass]="
        controls.username.invalid && controls.username.touched
          ? 'error-input'
          : ''
      "
    />
    <app-error>{{ alertMsg }}</app-error>
  </div>
  <div class="login-form-div-element">
    <input
      #passwordInput
      type="password"
      placeholder="Hasło"
      [formControl]="controls.password"
      (input)="(controls.password.markAsTouched)"
      [ngClass]="
        controls.password.invalid && controls.password.touched
          ? 'error-input'
          : ''
      "
    />
    <button
      (click)="changeVisiblePassword($event)"
      class="show-password-button"
    >
      <img
        src="../../../../../assets/images/show-password.png"
        alt="Przycisk do pokazywania hasła"
      />
    </button>
    <app-error>{{ alertMsg }}</app-error>
  </div>
  <div class="login-form-div-element">
    <button class="login-button">Zaloguj się</button>
  </div>
  <p class="login-form-links-to-other-page">
    Zapomniałaś/eś hasła? <a routerLink="/odzyskaj-haslo">Kliknij tutaj</a>
  </p>
  <p class="login-form-links-to-other-page">
    Nie masz konta? <a routerLink="/rejestracja">Zarejestruj się</a>
  </p>
</form>
