.main-banner {
  background-image: url("../../../../../assets/images/page-heading-bg.jpg");
  border-radius: 0px 0px 150px 150px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 225px 0px;
  display: flex;
  justify-content: center;
}
