<form [formGroup]="addPostForm" (ngSubmit)="onAddPost()" class="main-container">
  <div class="input-element">
    <label class="input">
      <input
        type="text"
        class="input__field"
        [formControl]="controls.author"
        [readOnly]="true"
      />
      <span class="input__label">{{ "username" | translate }}</span>
    </label>
  </div>
  <div class="input-element">
    <label class="input">
      <input type="text" class="input__field" [formControl]="controls.title" />
      <span class="input__label">{{ "title" | translate }}</span>
    </label>
  </div>
  <div class="input-element">
    <label class="input">
      <textarea
        class="input__field"
        [formControl]="controls.content"
      ></textarea>
      <span class="input__label">{{ "description" | translate }}</span>
    </label>
  </div>
  <div class="input-element">
    <input type="file" class="file" (change)="onFileSelected($event)" />
    <label for="file" class="label-file">{{
      "add-photos-to-the-post" | translate
    }}</label>
  </div>
  <button class="add-post-button">{{ "add-a-post" | translate }}</button>
</form>
