<div class="background-div"></div>

<div class="main-container">
  <h1>{{ "recent-posts" | translate }}:</h1>
  <div class="pagination-controls">
    <button (click)="prevPage()" [disabled]="currentPage === 0">
      {{ "previous-page" | translate }}
    </button>
    <span
      >{{ "page" | translate }} {{ currentPage + 1 }} {{ "of" | translate }}
      {{ totalPages }}</span
    >
    <button (click)="nextPage()" [disabled]="currentPage >= totalPages - 1">
      {{ "next-page" | translate }}
    </button>
  </div>
  <div class="filter">
    <input
      type="text"
      [formControl]="searchControl"
      placeholder="{{ 'find-by-post-name' | translate }}"
    />
    <label>{{ "sort-by" | translate }}</label>
    <select [formControl]="sortControl">
      <option value="">-</option>
      <option value="autor">{{ "author" | translate }}</option>
      <option value="name">{{ "name" | translate }}</option>
      <option value="data">{{ "date" | translate }}</option>
    </select>
    <label>{{ "sort" | translate }}</label>
    <select [formControl]="orderControl">
      <option value="">-</option>
      <option value="asc">{{ "ascending" | translate }}</option>
      <option value="desc">{{ "descending" | translate }}</option>
    </select>
    <label>{{ "posts-on-page" | translate }}</label>
    <select [formControl]="postsOnPage">
      <option [value]="5">5</option>
      <option [value]="10">10</option>
      <option [value]="20">20</option>
    </select>
  </div>
  <div class="posts-display">
    <app-post *ngFor="let post of posts" [post]="post"></app-post>
    <div class="add-post-container" *ngIf="userLoggedIn">
      <button
        class="add-post-button"
        title="Dodaj post"
        (click)="onRedirectToAddPost()"
      >
        +
      </button>
    </div>
  </div>
</div>
