.main-container {
  margin-top: -350px;
  margin-bottom: -100px;
  width: 100%;
  min-height: 600px;

  h1 {
    text-align: center;
  }

  .filter {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-height: 1000px;
    float: left;

    input[type="text"] {
      color: #000;
      height: 30px;
      border-radius: 5px;
    }

    option {
      color: #000;
    }

    select {
      color: #000;
    }
  }

  .posts-display {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: -15px;
    width: 80%;
    padding: 35px;
    min-height: 500px;
    row-gap: 30px;

    app-post {
      height: 300px;
    }
  }

  // Add post button
  .add-post-container {
    position: absolute;
    bottom: 0;
    right: 0;
    // transform: translate(-100%, -300%);
    width: 70px;
    height: 70px;
    border-radius: 150px;

    .add-post-button {
      width: 100%;
      height: 100%;
      border-radius: 150px;
      color: #000;
      outline: none;
      border: none;
      font-size: xx-large;
      background: rgb(43, 162, 226);
      cursor: pointer;
    }
  }

  // Pagination container
  .pagination-controls {
    margin-left: auto;
    margin-right: auto;
    width: 470px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    // Style for pagination button
    button {
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 5px;
      border: none;
      background-color: #2ba2e2;
      color: #fff;
      cursor: pointer;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s, box-shadow 0.3s;

      &:hover {
        background-color: darken(#2ba2e2, 10%);
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px lighten(#2ba2e2, 30%);
      }

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
        box-shadow: none;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .filter {
      min-height: auto;
      width: 90%;
    }

    .posts-display {
      padding: 0;
      padding-top: 10px;
    }
  }
}
