.main-container {
  position: relative;
  margin-top: -350px;
  margin-bottom: -100px;
  width: 100%;
  min-height: 600px;

  h1 {
    text-align: center;
  }

  .filter {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-height: 1000px;
    float: left;

    input[type="text"] {
      color: #000;
      height: 30px;
      border-radius: 5px;
    }

    option {
      color: #000;
    }

    select {
      color: #000;
    }
  }

  .posts-display {
    display: flex;
    flex-wrap: wrap;
    gap: -15px;
    width: 80%;
    padding: 35px;
    min-height: 1000px;

    app-post {
      height: 300px;
    }
  }
}
