<div class="main-container">
  <p>
    {{ "author" | translate }}: {{ post.author }},
    <small>{{ post.created | countdownTimeSinceCreation }}</small>
  </p>
  <p>
    {{ post.content }}
  </p>
  <div class="image-div">
    <img src="../../../../../assets/posts-images/{{ post.image }}" alt="ALT" />
  </div>
  <div class="comments-like-div">
    <p>{{ "likes" | translate }}: {{ post.likes }}</p>
    <p (click)="showCommentFunction()">
      {{ post.comments.length }} {{ "comments" | translate }}
    </p>
  </div>
  <div class="buttons-section" (click)="$event.stopPropagation()">
    <button (click)="onAddLike()" [classList]="userGiveLike ? 'like' : null">
      {{ "like" | translate }}
    </button>
    <button (click)="showCommentFunction()">{{ "comment" | translate }}</button>
    <button>{{ "share" | translate }}</button>
  </div>
  <app-comments
    *ngIf="showComments"
    [comments]="post.comments"
    [postId]="post.id"
    (fetchNewData)="fetchNewData()"
  />
</div>
