<div class="main-container">
  <p>Autor: {{ post.author }}, <small>2 dni temu</small></p>
  <p>
    {{ post.content }}
  </p>
  <div class="image-div">
    <img src="{{ post.image }}" alt="ALT" />
  </div>
  <div class="comments-like-div">
    <p>polubienia: {{ post.likes }}</p>
    <p (click)="showCommentFunction()">{{ post.comments.length }} komentarzy</p>
  </div>
  <div class="buttons-section" (click)="$event.stopPropagation()">
    <button>Lubię to!</button>
    <button>Komentarz</button>
    <button>Udostępnij</button>
  </div>
  <app-comments-component *ngIf="showComments" [comments]="post.comments" />
</div>
