<div
  class="main-container"
  *ngIf="post != undefined; then foundPost; else notFoundPost"
></div>

<ng-template #foundPost>
  <form [formGroup]="editPostForm">
    <div>
      <input type="text" [value]="controls.id.value" disabled />
    </div>
    <div>
      <input type="text" [value]="controls.author.value" disabled />
    </div>
    <div>
      <input
        type="text"
        [value]="controls.name.value"
        [formControl]="controls.name"
      />
    </div>
    <div>
      <textarea
        [value]="controls.description.value"
        [formControl]="controls.description"
      ></textarea>
    </div>
    <div>
      <input
        type="text"
        [value]="controls.img.value"
        [formControl]="controls.img"
      />
    </div>
    <button (click)="onChangePostData()">Zmień dane postu</button>
  </form>
</ng-template>

<ng-template #notFoundPost>
  <h2>Nie znaleziono posta</h2>
</ng-template>
