<div
  class="main-container"
  *ngIf="post != undefined; then foundPost; else notFoundPost"
></div>

<ng-template #foundPost>
  <form [formGroup]="editPostForm" (ngSubmit)="onChangePostData()">
    <div>
      <a routerLink="/ustawienia/edycja-postow">{{ "back" | translate }}</a>
    </div>
    <div class="form-row">
      <div class="input-data">
        <input type="text" [value]="controls.id.value" disabled />
        <div class="underline"></div>
        <label for="">ID</label>
      </div>
      <div class="input-data">
        <input type="text" [value]="controls.author.value" disabled />
        <div class="underline"></div>
        <label for="">{{ "author" | translate }}</label>
      </div>
    </div>
    <div class="form-row">
      <div class="input-data">
        <input
          type="text"
          [value]="controls.title.value"
          [formControl]="controls.title"
        />
        <div class="underline"></div>
        <label for="">{{ "post-name" | translate }}</label>
      </div>
      <div class="input-data file-upload">
        <input type="file" id="fileInput" (change)="onFileSelected($event)" />
        <div class="underline"></div>
        <label for="fileInput">
          {{ "photo" | translate }}
        </label>
        <div class="file-name">
          {{ fileName || ("no-file-selected" | translate) }}
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="input-data textarea">
        <textarea
          [value]="controls.content.value"
          [formControl]="controls.content"
          rows="8"
          cols="80"
        ></textarea>
        <br />
        <div class="underline"></div>
        <label for="">{{ "post-description" | translate }}</label>
        <br />
        <div class="form-row submit-btn">
          <div class="input-data">
            <div class="inner"></div>
            <button>{{ "edit-post-data" | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #notFoundPost>
  <h2>{{ "post-not-found" | translate }}</h2>
</ng-template>
