<div class="main-container">
  <div class="input-element">
    <input type="file" id="file" class="file" />
    <label for="file" class="label-file">Wgraj awatar</label>
  </div>
  <div class="input-element">
    <label class="input">
      <input class="input__field" type="text" placeholder=" " />
      <span class="input__label">Imię</span>
    </label>
  </div>
  <div class="input-element">
    <label class="input">
      <input class="input__field" type="text" placeholder=" " />
      <span class="input__label">Nazwisko</span>
    </label>
  </div>
  <div class="input-element">
    <label class="input">
      <input class="input__field" type="email" placeholder=" " />
      <span class="input__label">Email</span>
    </label>
  </div>
  <div class="input-element">
    <label class="input">
      <input class="input__field" type="password" placeholder=" " />
      <span class="input__label">Hasło</span>
    </label>
  </div>
</div>
