<form
  class="main-container"
  [formGroup]="changeUserDataForm"
  (ngSubmit)="onChangeData()"
>
  <div class="input-element">
    <input
      type="file"
      id="file"
      class="file"
      (change)="onFileSelected($event)"
    />
    <label for="file" class="label-file">{{
      "upload-avatar" | translate
    }}</label>
  </div>
  <div class="input-element">
    <label class="input">
      <input
        class="input__field"
        type="text"
        placeholder=" "
        [formControl]="controls.username"
      />
      <span class="input__label">{{ "username" | translate }}</span>
    </label>
  </div>
  <div class="input-element">
    <label class="input">
      <input
        class="input__field"
        type="email"
        placeholder=" "
        [formControl]="controls.email"
      />
      <span class="input__label">Email</span>
    </label>
  </div>
  <div class="input-element">
    <label class="input">
      <input
        class="input__field"
        type="password"
        placeholder=" "
        autocomplete="new-password"
        [formControl]="controls.password"
      />
      <span class="input__label">{{ "password" | translate }}</span>
    </label>
  </div>
  <div class="button-section">
    <button class="change-usr-data-button">
      {{ "change-data" | translate }}
    </button>
  </div>
</form>
